@using ReDoMusic.Domain.Entities

@model List<Brand>
<style>
   .custom-table {
        border: 1px solid #ddd;
        width: 1000px;
        heidght: 1000px;
        border-radius: 20px;
    }
   .custom-table thead {
            background-color: black;
        color: #fff;
   }
    .custom-table-container {
        display: flex;
        justify-content: center;
        align-items: center;
/*         height: 100vh; /* Ekran yüksekliği kadar yer kaplasın */
 */    }
 h2{
        display: flex;
        justify-content: center;
        align-items: center;
 }

</style>
<h2 class="mt-5">Brand List</h2>

<div class="custom-table-container mt-5">
    <table class="table custom-table ">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Address</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var brand in Model)
        {
        <tr>
            <td>@brand.Name</td>
            <td>@brand.Description</td>
            <td>@brand.Adress</td>
            <td><a asp-action="DeleteBrand" asp-route-id="@brand.Id" class="btn btn-danger">Delete</a></td>
        </tr>
        }
        </tbody>
    </table>
</div>